@tailwind base;
@tailwind components;
@tailwind utilities;

/* base */
@layer base {
  @font-face {
    font-family: "IranianSans";
    src: url("./public/fonts/AIranianSans.eot");
    src:
      url("AIranianSans.eot?#iefix") format("embedded-opentype"),
      url("./public/fonts/AIranianSans.woff2") format("woff2"),
      url("./public/fonts/AIranianSans.woff") format("woff"),
      url("./public/fonts/AIranianSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFaNum";
    src: url("./public/fonts/./public/fonts/iranSansWebFaNum//IRANSansWebFaNum-Medium.eot");
    src:
      url("./public/fonts/IRANSansWebFaNum-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("./public/fonts/iranSansWebFaNum/IRANSansWebFaNum-Medium.woff2")
        format("woff2"),
      url("./public/fonts/iranSansWebFaNum/IRANSansWebFaNum-Medium.woff")
        format("woff"),
      url("./public/fonts/iranSansWebFaNum/IRANSansWebFaNum-Medium.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: "IRANSansWebFaNum", "IranianSans", sans-serif;
    font-size: 14px;
  }
  input,
  select {
    border: none;
    outline: none;
    font-family: "IRANSansWebFaNum", "IranianSans", sans-serif;
  }
}
/* component */
@layer components {
  .app {
    @apply max-w-[1920px] mx-auto;
  }
  .iranNum {
    font-family: "IRANSansWebFaNum";
  }
  /* sepratorLine */
  .sepratorLine {
    @apply w-full bg-gray-5 h-[1px] mt-5 mb-3;
  }
  .lightGrayBorder {
    @apply border-[1px] border-gray-5;
  }
  .meniItemLi {
    @apply py-1 px-2 border-b-2 border-transparent hover:border-purple-500 transition-all duration-300 text-gray-2;
  }
  .meniItemLiActive {
    @apply border-purple-500;
  }
  .productCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    img {
      width: 100%;
    }
    .ratingCard {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding-top: 10px;
      margin-top: 5px;
      @apply text-sm text-gray-3;
      img {
        width: 90px;
      }
      p {
        height: 14px;
      }
    }
    .userInfo {
      width: 100%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 0;
      margin: 10px 0;
      img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }
      p {
        @apply text-gray-3;
        span {
          @apply text-gray-1 text-balance;
          margin: 0px 5px;
        }
      }
    }
    .tutorialInfo {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .curver {
  }
  .test::before {
    /* before:absolute before:top-0 before:left-0 before:w-full before:h-[70vh]  before:content before:rounded-y-special before:bg-gradient-to-t from-darkBlue to-darkgreen   */
    /* content: "";
    width: 100%;
    height: 70vh;
    border-radius: 10%;

    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(90% 70% at 50% 70%);
    transform: rotate(180deg); */
    /* background-color: red; */
  }
  .newestBtn {
    @apply bg-mainWhite px-2 sm:px-6 py-3 rounded-full text-gray-2;
  }
  .activeNewestBtn {
    @apply bg-purple-500 text-mainWhite;
  }
  .tutorialCard {
    @apply p-6 bg-mainWhite w-fit rounded-2xl flex flex-col items-center justify-center;
    .TutoCardImgContainer {
      @apply max-w-80;
    }
    .TutoCardRateContainer {
      @apply flex items-end gap-2 pt-2;
      span {
        @apply text-xs leading-3;
      }
    }
    .TutoCardDetailTuto {
      h3 {
        @apply text-2xl py-4;
      }
      p {
        @apply max-w-80 text-gray-2;
      }
    }
    .TutoCardTeacherDetail {
      @apply flex items-center gap-2 py-3;
    }
    .TutoCardTeacheDetail {
      @apply flex gap-3 items-center pb-5 border-b-2 border-purple-200 border-dashed;
      div {
        @apply bg-purple-100 w-fit flex gap-2 text-xs px-2 py-0.5 rounded-lg;
        img {
          @apply w-6;
        }
        span {
          @apply leading-[20px];
        }
      }
    }
    .CardFooter {
      @apply flex items-center justify-between pt-4;
      div {
        @apply flex gap-2;
        &:nth-child(2) {
          @apply text-gray-3;
        }
      }
    }
  }
  .masterCard {
    @apply bg-mainWhite w-fit p-5 rounded-xl;
    .masterCardImage {
      @apply max-w-80;
    }
    .socialIcoContainer {
      @apply flex justify-center items-center gap-2 mt-3 w-full;
      div {
        img {
          @apply w-12 rounded-full;
        }
      }
    }
    .masterMoreInfo {
      @apply flex justify-center items-center gap-2 mt-4 w-full;
    }
  }
  .blogCard {
    @apply bg-mainWhite rounded-xl w-fit p-4 flex items-center justify-center flex-col relative shadow-2xl  ;
    img {
      @apply max-w-80;
    }
    div {
      @apply text-lg  max-w-80 font-extrabold text-gray-0 text-right py-8;
      p {
        @apply text-xl leading-[35px];
      }
    }
    .blogIco {
      @apply absolute -bottom-5 left-10;
    }
  }
}
swiper-container {
  @apply w-3/5;
  /* height: 320px; */
}
